<!DOCTYPE html>

<html>
    <head>
        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                
            }
            .header { 
                background-color: #333;
                color: #fff;
                text-align: center;
                padding: 1rem;
            }
            body{
                background-color: #4f4f4f;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>
                eBooking
            </h1>
            <h2>
                The world is your home
            </h2>
        </div>
