<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>




        <h3>find your place</h3>
        <div>
            <% data.posts.forEach(function(post){ %>
            <div>
                <h4><%= post.Person_id %></h4>
                <p><%=post.text_body%></p>
            </div>
            <%}) %>
            
        </div>
    </body>
</html>