<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>
            eBooking
        </h1>
        <h2>
            The world is your home
        </h2>

        <form method='POST' action='/login'>
            <label for = "email">Email</label><br>
            <input type ="text" tag="email" name="email"> <br>
            <label for = "password">Password</label> <br>
            <input type = "password" tag = "pass" name="pass" > <br> 
            <input type = "submit" name = "login" tag="login" value ="Login">
            <input type = "submit" name = "register" tag = "register" value = "register">
        </form>
    </body>
</html>