<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>
            eBooking
        </h1>
        <h2>
            The world is your home
        </h2>

        <form method='POST' action='/register'>
            <label for = "name">Name</label> <br>
            <input type = "text" tag="name" name="name"> <br><br>

            <label for = "email">Email</label><br>
            <input type ="text" tag="email" name="email"> <br><br>
            
            <label for = "password">Password</label> <br>
            <input type = "password" tag = "pass" name="pass" > <br> <br>
            
            <lable for = "organization">organization</lable> <br>
            <input type="text" tag="organization" name="organization"> <br> <br>

            <label for = "address">Address</label> <br>
            <input type = "text" tag = "address" name="address"> <br> <br>

            <lable for = "phone">Phone</lable> <br>
            <input type = "text" tag = "phone" name="phone"> <br> <br>
            
            <input type = "submit" name = "login" tag="login" value ="Login">
            <input type = "submit" name = "register" tag = "register" value = "register">
        </form>
    </body>
</html>
© 2021 GitHub, Inc.