<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="static/css/bootstrap.min.css" >
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>
                    eBooking
                </h1>
                <p>
                    The world is your home
                </p>
            </div>

            <form method='POST' action='/register'>
                <div class= "form-group row">
                    <div class = "col-sm-4">
                        <label for = "name">Name</label>
                        <input type = "text" class= "form-control" tag="name" name="name"> <br>

                        <label for = "email">Email</label>
                        <input type ="text" class= "form-control" tag="email" name="email"> <br>
                        
                        <label for = "password">Password</label>
                        <input type = "password" class= "form-control" tag = "pass" name="pass" > <br>
                        
                        <lable for = "organization">organization</lable>
                        <input type="text" class= "form-control" tag="organization" name="organization"> <br>

                        <label for = "address">Address</label>
                        <input type = "text" class= "form-control" tag = "address" name="address"> <br> 

                        <lable for = "phone">Phone</lable>
                        <input type = "text" class= "form-control" tag = "phone" name="phone"><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type = "submit" class="btn btn-primary" name = "login" tag="login" value="login">Login</button>
                    <button type = "submit" class = "btn btn-success" name = "register" tag = "register" value = "register"> Register </button>
                </div>
            </form>
            <br><br>
            
        </div>
        <p style="text-align: center;" class="text-white-50 bg-dark">Copyright &copy; 2021 Group 2</p>
    </body>
</html>